<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}

<h1>Homepage.</h1>

This chapter covers how to properly configure your computer to work on Django projects. We start with an overview of the command line and use it to install the latest versions of both Django (2.0) and Python (3.7). Then we discuss virtual environments, git, and working with a text editor.

By the end of this chapter you’ll be ready to create and modify new Django projects in just a few keystrokes.

The Command Line
The command line is a powerful, text-only view of your computer. As developers we will use it extensively throughout this book to install and configure each Django project.

On a Mac, the command line is found in a program called Terminal located at /Applications/Utilities. To find it, open a new Finder window, open the Applications folder, scroll down to open the Utilities folder, and double-click the application called Terminal.

{% endblock %}

