{% extends 'base.html' %}
{% block title %}
{{post.title }}
{% endblock %}
{% block base%}
{% load crispy_forms_tags %}
<div class="content container">
    <div class="row">
        <div class="card col-md-12 border-right-0 border-left-0 border-top-0 border-bottom-0">
            <div class="card-header">
              <h2>{{ post.title }}</h2>
              {{ post.created_date }}
              {% if user.is_authenticated and user == post.author %}
              <form method="post" action="{% url 'deletepost' post.pk %}">{% csrf_token %}
                  <span style="float: right;"><a
                          href="{% url 'editpost' post.pk %}" class="btn btn-link">
              Edit</a>|<input type="submit" class="btn btn-link" value="Delete"></input></span>
              </form>
              {% endif %}
            </div>
            <div>
                <p>{{ post.text}}</p>
            </div>
            <div class="card-footer">
                {% for comment in post.comments.all %}
                <p>
                    <span class="font-weight-bold">{{ comment.author }}: </span>
                    {{ comment }}
                </p>
                {% endfor %}
                {% if user.is_authenticated %}
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-sm">Submit</button>
                </form>
                {%else%}
                <a href="{% url 'login' %}?next={{request.path}}">Login</a> to add comments
                {% endif%}
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
