{% extends 'scripts.html' %}
{% load static %}
{% block scripts_content %}

<div class="content container">
    <div class="page-header">
        <img src="{% static 'media/headerimg.png' %}" width="1110" height="150"/>
        <div class="progress" style="height: 2px">
            <div class="progress-bar bg-warning" style="width:100%; height: 5px"></div>
        </div>
        <nav class="navbar navbar-expand bg-dark navbar-dark">
            <div class="container justify-content-md-start">
                <ul class="navbar-nav">
                    <a href="{% url 'listposts' %}"> Home</a>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'aboutpage' %}"> About us</a>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'contactpage' %}"> Contact us</a>
                </ul>
            </div>
            <div class="container justify-content-md-end">
                <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">  Hello {{user.username}}</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                          <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                        </div>
                        </li>
                  {% else %}
                  <a href="{% url 'login' %}">Login</a>
                  {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="progress" style="height: 2px">
        <div class="progress-bar bg-warning" style="width:100%"></div>
    </div>
    <br>
    {% block base%}
    {% endblock%}
    <div class="fixed-bottom" align="center">
        <div class="progress" style="height: 2px">
            <div class="progress-bar bg-warning" style="width:100%; height: 5px"></div>
        </div>
        <div class="bg-dark">
            Copyright Django@PetaaBytes
        </div>
    </div>
</div>
{% endblock %}
