{% extends 'coffee_base.html' %}

{% block base_content %}
<h6><a href="/coffees">Home</a></h6>
<div class="row">
    <table class="table table-hover">
        <tr>
            <td>Name :</td>
            <td>{{coffee.name}}</td>
        </tr>
        <tr>
            <td>Flavour :</td>
            <td>{{coffee.flavour}}</td>
        </tr>
        <tr>
            <td>Roast :</td>
            <td>{{coffee.roast}}</td>
        </tr>
        <tr>
            <td>Price :</td>
            <td>{{coffee.price}}</td>
        </tr>
        <tr>
            <td>Processing :</td>
            <td>{{coffee.processing}}</td>
        </tr>
    </table>
</div>
{% endblock %}
